.content {
    flex: 1;
    >* {
        margin: 1.25rem 0;
    }
    margin: 3rem auto;
    width: 100%;
    max-width: 50rem;
    padding: 0 1rem;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .page_title {
        color: var(--backFooter);
        margin: 2rem 0;
        font-size: large;
    }
    h2 {
        font-size: x-large;
    }
    ul {
        li {
            margin-left: 1.5rem;
            list-style-type: disc;
            margin-top: .5rem;
        }
    }
    /* SPECIFICS CLASS IN BACKOFFICE */
    .citation {
        // in landing under title
        font-family: "Courgette";
    }
    .justify {
        text-align: justify;
    }
    .noMarginTop,
    .noMarginTop>div {
        margin-top: 0 !important;
        padding-top: 0 !important;
    }
    .noMarginBottom {
        margin-bottom: 0 !important;
        // padding-bottom: 0 !important;
    }
    #elementImgMarginRight,
    #elementImgMarginLeft {
        display: none;
    }
    .positionRel {
        position: relative;
    }
    /* END OF SPECIFICS CLASS IN BACKOFFICE */
    .page_title,
    h1 {
        margin: 0rem 0 2.5rem 0;
        text-align: center;
        font-size: xx-large;
    }
    .is-layout-flex {
        // parent of wp columns
        font-size: .9rem;
        align-items: stretch !important;
        >div {
            background-color: white;
            padding: 1rem;
            >* {
                margin: 1.5rem 0;
            }
        }
        /* SPECIFICS CLASS IN BACKOFFICE */
        &.toAction {
            // on columns block
            >* {
                background-color: transparent;
            }
        }
        /* END SPECIFICS CLASS IN BACKOFFICE */
        .wp-block-button {
            // ? back arent for btn
            background-color: transparent !important;
            padding: 0 !important;
            margin: 0 !important;
            >a {
                height: 100%;
                margin: 0;
                transition: all ease-in-out .25s;
                &:hover {
                    background-color: var(--backDark) !important;
                    border-radius: 10px !important;
                    transition: all ease-in-out .25s;
                }
            }
        }
        @media (max-width: 781px) {
            display: block !important;
            &.toAction {
                >div {
                    padding: 0;
                    >* {
                        margin: 1.5rem 0;
                    }
                }
            }
            .wp-block-button {
                >a {
                    height: auto;
                }
            }
        }
    }
}

.landingContent {
    background-color: white;
    .thumbnail {
        aspect-ratio: 3/2;
        /* background-size: cover;
        background-position: center center; */
        // background-color: var(--contentBack);
        img {
            width: 100%;
            max-height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
        }
    }
}

@media (min-width: 1000px) {
    .landingContent {
        display: flex;
        flex: 1;
        flex-direction: row-reverse;
        &.landingContent--noreverse {
            flex-direction: row;
            .thumbnail {
                background-position: right calc(4rem);
            }
        }
        .thumbnail {
            aspect-ratio: unset;
            // width: 33%;
            width: 400px;
            max-width: 400px;
            /* background-size: 400px 100%;
            background-position: left calc(4rem);
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-clip: content-box; */
            img {
                position: sticky;
                top: 4rem;
                height: calc(100vh - 4rem);
                object-fit: cover;
            }
        }
        .content {
            min-height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}

@media (min-width: 1250px) {
    .content {
        #elementImgMarginRight,
        #elementImgMarginLeft {
            display: block;
            width: 200px;
            height: 300px;
            position: absolute;
            top: -1.5rem;
            img {
                width: 100%;
                height: auto;
            }
        }
        #elementImgMarginRight {
            left: calc(100% + 1rem);
        }
        #elementImgMarginLeft {
            right: calc(100% + 1rem);
        }
    }
}