:root {
  --burkBlue: #7eaca1;
  --demiMarginPersonel_exeption: .8rem;
}

.content {
  flex: 1;
  margin: 3rem auto;
  width: 100%;
  max-width: 50rem;
  padding: 0 1rem;
  /* SPECIFICS CLASS IN BACKOFFICE */
  /* END OF SPECIFICS CLASS IN BACKOFFICE */
}
.content > * {
  margin: 1.25rem 0;
}
.content > * > a,
.content > * > li > a {
  color: var(--backFooter);
}
.content.content--noTopMargin {
  margin-top: 0;
}
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6,
.content .page_title {
  color: var(--backFooter);
  margin: 2rem 0;
  font-size: large;
}
.content h2 {
  font-size: x-large;
}
.content ul li {
  margin-left: 1.5rem;
  list-style-type: disc;
  margin-top: 0.5rem;
}
.content .citation {
  font-family: "Courgette";
}
.content .justify {
  text-align: justify;
}
.content .noMarginTop,
.content .noMarginTop > div {
  margin-top: 0 !important;
  padding-top: 0 !important;
}
.content .noMarginBottom {
  margin-bottom: 0 !important;
}
.content #elementImgMarginRight,
.content #elementImgMarginLeft,
.content #elementImgMarginRightId50,
.content #elementImgMarginLeftId50 {
  display: none;
}
.content .positionRel {
  position: relative;
}
.content .tarots {
  background-color: white;
  border: 2px solid var(--backFooter);
  padding: 1rem;
  margin: 0 auto !important;
}
.content .tarots h3 {
  font-size: 1.4rem;
  margin: 1.5rem 0;
}
.content .page_title,
.content h1 {
  margin: 0rem 0 2.5rem 0;
  text-align: center;
  font-size: xx-large;
}
.content .is-layout-flex {
  font-size: 0.9rem;
  align-items: stretch !important;
  /* SPECIFICS CLASS IN BACKOFFICE */
  /* END SPECIFICS CLASS IN BACKOFFICE */
}
.content .is-layout-flex > div {
  background-color: white;
  padding: 1rem;
}
.content .is-layout-flex > div > * {
  margin: 1.5rem 0;
}
.content .is-layout-flex.toAction > * {
  background-color: transparent;
}
.content .is-layout-flex.personel_exeption {
  width: 100%;
  display: block;
  display: flex;
}
.content .is-layout-flex.personel_exeption > div {
  width: calc(50% - 10px);
  height: 100% !important;
}
.content .is-layout-flex.personel_exeption > div:first-child {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.content .is-layout-flex.personel_exeption > div:nth-child(2) {
  padding-right: 0 !important;
  padding-left: 0 !important;
  padding-top: 0;
  flex: 1;
}
.content .is-layout-flex.personel_exeption > div:nth-child(2) > div > a {
  width: 100%;
  padding: 1.1rem 1rem;
}
.content .is-layout-flex.personel_exeption > div:nth-child(3) {
  display: none;
}
.content .is-layout-flex.personel_exeption > div > div.wp-block-button:first-child a {
  background-color: #7eaca1 !important;
  transition: all ease-in-out 0.25s;
}
.content .is-layout-flex.personel_exeption > div > div.wp-block-button:first-child a:hover {
  background-color: #537970 !important;
}
.content .is-layout-flex.personel_exeption > div > div.wp-block-button a b {
  font-size: 1.5rem;
  font-weight: 400;
}
.content .is-layout-flex.personel_exeption > div > div.wp-block-button:first-child {
  margin-bottom: calc(var(--demiMarginPersonel_exeption) * 2) !important;
}
.content .is-layout-flex .wp-block-button {
  background-color: transparent !important;
  padding: 0 !important;
  margin: 0 !important;
}
.content .is-layout-flex .wp-block-button > a {
  height: 100%;
  margin: 0;
  transition: all ease-in-out 0.25s;
}
.content .is-layout-flex .wp-block-button > a:hover {
  background-color: var(--backDark) !important;
  border-radius: 10px !important;
  transition: all ease-in-out 0.25s;
}
@media (max-width: 781px) {
  .content .is-layout-flex {
    display: block !important;
  }
  .content .is-layout-flex.toAction > div {
    padding: 0;
    width: 100%;
    padding-right: 0 !important;
  }
  .content .is-layout-flex.toAction > div > * {
    margin: 1.5rem 0;
  }
  .content .is-layout-flex .wp-block-button > a {
    height: auto;
  }
}
@media (max-width: 782px) {
  .content .personel_exeption {
    display: flex !important;
    flex-direction: column-reverse;
  }
}
@media (min-width: 781px) {
  .content .exeption_perspective_btn {
    display: flex;
    justify-content: center;
  }
  .content .exeption_perspective_btn > * {
    max-width: 17rem;
  }
}

.landingContent .thumbnail {
  aspect-ratio: 3/2;
  /* background-size: cover;
  background-position: center center; */
}
.landingContent .thumbnail figure {
  width: 100%;
  height: 100%;
  max-height: 100%;
  margin-bottom: 0;
  position: relative;
}
.landingContent .thumbnail figure img {
  width: 100%;
  height: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 100%;
     object-position: 50% 100%;
}
.landingContent .thumbnail figure figcaption {
  display: inline-block;
  position: absolute;
  top: 2rem;
  left: 0;
  width: 100%;
  text-align: center;
  vertical-align: center;
  font-weight: bold;
  color: var(--backFooter);
  font-size: small;
}
.landingContent .content ul li {
  /* list-style-type: disc ;
  list-style: inside ; */
  /* 
  &::before {
      content: '' !important;
      background-color: var(--backFooter);
      border-radius: 50%;
      width: .5rem !important;
      height: .5rem;
      margin-right: .5rem;
  } */
}
.landingContent .content ul li::before {
  visibility: hidden;
}

@media (min-width: 1000px) {
  .landingContent {
    display: flex;
    flex: 1;
    flex-direction: row-reverse;
  }
  .landingContent.landingContent--noreverse {
    flex-direction: row;
  }
  .landingContent.landingContent--noreverse .thumbnail {
    background-position: right 4rem;
  }
  .landingContent .thumbnail {
    width: 45%;
    max-width: 45%;
    /* width: 400px;
    max-width: 400px; */
    /* background-size: 400px 100%;
    background-position: left calc(4rem);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-clip: content-box; */
    flex: 1;
  }
  .landingContent .thumbnail figure {
    position: -webkit-sticky;
    position: sticky;
    top: 4rem;
    height: calc(100vh - 4rem);
  }
  .landingContent .thumbnail figure img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .landingContent .content {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* h3 {
        margin: 5rem 0;
    } */
  }
  .landingContent .content > * {
    max-width: 30rem;
    margin: auto;
  }
  .landingContent .content.content_exeptionStup > * {
    max-width: 40rem;
  }
}
@media (min-width: 1250px) {
  .content #elementImgMarginRight,
.content #elementImgMarginLeft,
.content #elementImgMarginRightId50,
.content #elementImgMarginLeftId50 {
    display: block;
    width: 150px;
    height: 230px;
    position: absolute;
    top: -1.5rem;
  }
  .content #elementImgMarginRight.topPlus,
.content #elementImgMarginLeft.topPlus,
.content #elementImgMarginRightId50.topPlus,
.content #elementImgMarginLeftId50.topPlus {
    top: 100vh;
  }
  .content #elementImgMarginRight img,
.content #elementImgMarginLeft img,
.content #elementImgMarginRightId50 img,
.content #elementImgMarginLeftId50 img {
    width: 100%;
    height: auto;
  }
  .content #elementImgMarginRight {
    left: calc(100% + 1rem);
  }
  .content #elementImgMarginLeft {
    right: calc(100% + 1rem);
  }
  .content #elementImgMarginRightId50 {
    left: 2rem;
    top: 10rem;
  }
  .content #elementImgMarginLeftId50 {
    right: 2rem;
    top: 10rem;
  }
}/*# sourceMappingURL=content.css.map */