.content {
    flex: 1;
    .form.wpcf7-form {
        // vise form de contact form 7
    }
    margin: 3rem auto;
    max-width: 50rem;
    padding: 0 1rem;
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: var(--backFooter);
    }
    h2 {
        font-size: x-large;
        margin: 3rem 0;
    }
    .citation {
        // in landing under title
        font-family: "Courgette";
    }
}

.landingContent {
    .thumbnail {
        aspect-ratio: 3/2;
        background-size: cover;
        background-position: center bottom;
    }
}

@media (min-width: 1000px) {
    .landingContent {
        display: flex;
        flex: 1;
        flex-direction: row-reverse;
        .thumbnail {
            aspect-ratio: unset;
            width: 50%;
            background-size: cover;
            background-position: center bottom;
        }
        .content {
            min-height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}