footer {
    background-color: var(--backFooter);
    color: white;
    .footer__content {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        img {
            height: 12rem;
            width: auto;
            margin: 0 auto 1rem auto;
        }
        div>ul.menu li {
            margin-top: .5rem;
        }
        .footer__content__contact {
            margin-top: 2rem;
            .footer__content__contact__pSocial {
                display: flex;
                >a {
                    margin: 1.5rem .5rem 0 0;
                    >img {
                        height: 2rem;
                    }
                }
            }
        }
    }
    .footer__bottom {
        height: 1rem;
        background-color: var(--backDark);
    }
}