footer {
  background-color: var(--backFooter);
  color: white;
}
footer .footer__content {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 2rem 1rem;
}
footer .footer__content img {
  height: 12rem;
  width: auto;
  margin: 0 auto 1rem auto;
}
footer .footer__content div.menu-footer-container > ul.menu li {
  margin-top: 0.5rem;
}
footer .footer__content .menu-footer1-container:nth-child(3),
footer .footer__content .menu-footer2-container:nth-child(4) {
  display: none;
}
footer .footer__content .footer__content__contact {
  margin-top: 2rem;
}
footer .footer__content .footer__content__contact .footer__content__contact__pSocial {
  display: flex;
}
footer .footer__content .footer__content__contact .footer__content__contact__pSocial > a {
  margin: 1.5rem 0.5rem 0 0;
}
footer .footer__content .footer__content__contact .footer__content__contact__pSocial > a > img {
  height: 2rem;
}
footer .footer__content .footer__content__contact .footer__content__contact--btn {
  margin-top: 1rem;
}
footer .footer__content .footer__content__contact .footer__content__contact--btn a {
  border: 1.5px solid white;
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
footer .footer__content .footer__content__contact .footer__content__contact--btn a:hover {
  background-color: var(--backDark);
  transition: all 0.2s ease-in-out;
}
footer .footer__bottom {
  background-color: var(--backDark);
  padding: 0.5rem;
  text-align: center;
  font-size: x-small;
}
@media (min-width: 700px) {
  footer .footer__content {
    flex-direction: row;
    justify-content: center;
    margin: 2rem auto 0 auto;
  }
  footer .footer__content img {
    margin: 0 0 1rem 0;
  }
  footer .footer__content .menu-footer-container {
    margin: 0 2rem;
    font-size: x-small;
  }
  footer .footer__content .footer__content__contact {
    width: 12rem;
    margin-top: 0;
  }
  footer .footer__content div.menu-footer-container:nth-child(2) > ul.menu li:first-child {
    margin-top: 0;
  }
}
@media (min-width: 1100px) {
  footer .footer__content img {
    height: 8rem;
  }
  footer .footer__content div.menu-footer-container:nth-child(2) {
    display: none;
  }
  footer .footer__content div.menu-footer1-container:nth-child(3),
footer .footer__content div.menu-footer2-container:nth-child(4) {
    display: block;
    margin: 0 2rem 0 2rem;
  }
  footer .footer__content div.menu-footer1-container:nth-child(3) li,
footer .footer__content div.menu-footer2-container:nth-child(4) li {
    margin-bottom: 0.75rem;
  }
  footer .footer__content div.menu-footer1-container:nth-child(3) li a:hover,
footer .footer__content div.menu-footer2-container:nth-child(4) li a:hover {
    text-decoration: underline;
  }
  footer .footer__content div.menu-footer1-container:nth-child(3) > ul,
footer .footer__content div.menu-footer2-container:nth-child(4) > ul {
    /* height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; */
  }
  footer .footer__content div.menu-footer1-container:nth-child(3) {
    margin-right: 0;
  }
  footer .footer__content .footer__content__contact .footer__content__contact__pSocial > a {
    margin: 0.5rem 0.5rem 0 0;
  }
  footer .footer__content .footer__content__contact .footer__content__contact__pSocial > a > img {
    height: 1.5rem;
  }
  footer .footer__content .footer__content__contact .footer__content__contact--btn {
    margin-top: 0.5rem;
  }
  footer .footer__content .footer__content__contact .footer__content__contact--btn a {
    border: 1px solid white;
    padding: 0.25rem 0.5rem;
    transition: all 0.3s ease-in-out;
  }
}/*# sourceMappingURL=footer.css.map */