.backWhite {
    background-color: white;
    @media (min-width: 1000px) {
        >.thumbnail {
            width: calc(50vw + 2rem) !important;
            max-width: calc(50vw + 2rem) !important;
        }
        >.content {
            padding: 0;
            max-width: none !important;
            >* {
                padding: 0 1rem;
            }
        }
    }
    >.content {
        margin-top: 1.25rem;
        margin-bottom: 0.5rem;
        display: block;
        h3 {
            font-size: xx-large;
        }
        ul {
            li {
                list-style-type: none;
                margin-bottom: 1rem;
                &::before {
                    content: "\2022";
                    /* Add content: \2022 is the CSS Code/unicode for a bullet */
                    color: var(--backFooter);
                    /* Change the color */
                    font-weight: bold;
                    /* If you want it to be bold */
                    display: inline-block;
                    /* Needed to add space between the bullet and the text */
                    width: 1em;
                    /* Also needed for space (tweak if needed) */
                    margin-left: -1em;
                    /* Also needed for space (tweak if needed) */
                }
                strong {
                    color: var(--backFooter);
                }
                span {
                    display: inline-block;
                    background-color: var(--backFooter);
                    width: .8rem;
                    aspect-ratio: 1/1;
                    border-radius: 50%;
                    margin-right: .5rem;
                }
            }
        }
    }
}

.buttonsBottomPerspectives {
    margin-bottom: 1rem !important;
}

.h3perspectivTop {
    margin-bottom: 0 !important;
    font-size: 1.05rem !important;
}

@media (min-width: 782px) {
    .buttonsBottomPerspectives {
        width: calc(100% - 1rem) !important;
        margin: auto;
    }
}

.buttonsBottomPerspectives {
    a {
        transition: all ease-in-out .25s;
        &:hover {
            background-color: var(--backDark) !important;
            border-radius: .5rem !important;
        }
    }
}

#stpd_exep {
    // body > div:nth-child(11) => selector for chrome
    display: block;
    strong,
    h3,
    em {
        color: var(--burkBlue) !important;
    }
    h3 {
        margin-top: 0;
    }
    span {
        background-color: var(--burkBlue) !important;
    }
    ul {
        li {
            margin-top: 3rem;
            margin-bottom: 3rem;
            &:first-child {
                margin-top: 0;
            }
        }
    }
}