.sliderTemoignage,
#sliderTemoignageDisplay {
    display: none;
    &.display {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(3px);
        box-sizing: content-box;
        z-index: 200;
        width: 100vw;
        height: 100vh;
        max-height: 100vh;
        >ul {
            flex: 1;
            margin: 5rem auto 1rem auto;
            overflow-y: auto;
            display: block;
            width: 40rem;
            max-width: 100%;
            >li {
                padding: 0 1rem 0 1rem;
                opacity: 0;
                transition: opacity .2s;
                * {
                    max-width: 100%;
                    margin-bottom: .5rem;
                }
                &.opacity {
                    opacity: 1;
                    transition: opacity .2s;
                }
                .signature {
                    text-align: right;
                }
            }
        }
        img {
            cursor: pointer;
            width: 4rem;
            height: 4rem;
        }
        >img#close {
            position: absolute;
            right: 0;
            top: 0;
        }
        >nav {
            background-color: transparent;
            display: flex;
            justify-content: space-around;
            margin: 0 auto 1rem auto;
            width: 30rem;
            max-width: 100%;
        }
        @media (min-width: 800px) {
            >nav {
                justify-content: space-between;
                width: 50rem;
                margin: auto;
                position: absolute;
                top: 40vh;
                left: calc(50vw - 25rem);
                z-index: -2;
                transform-origin: center center;
            }
        }
    }
}